@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#modalContent {
  width: 30%;
  text-align: center;
  background-color: #fff;
  padding: 50px 40px 20px 40px;
  border-radius: 8px;
  transition: .5s ease-out;
  position: relative;
  overflow: scroll;
}

#home #modalContent {
  height: 420px;
}

#search #modalContent {
  height: 500px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 30;
}

.modalOpner #overlay {
  opacity: 1;
  animation: fadeIn .5s;
}

.comment {
  border: none;
  padding: 10px;
  outline: none;
}

.movie-overview {
  text-align: left;
}

.add-button-wrapper,
.delete-button-wrapper,
.close-button-wrapper {
  width: 40px;
  height: 40px;
  position: absolute;
}

.delete-button-wrapper {
  left: 50px;
}

.add-button-wrapper {
  left: 50px;
}

.add-button-wrapper,
.delete-button-wrapper {
  padding-bottom: 10px;
}

.close-button-wrapper {
  top: 10px;
  right: 10px;
}

.balloon-wrapper {
  display: none;
  margin: 0 auto;
  position: absolute;
  top: -110%;
  left: -130%;
}

/* .add-button-wrapper .balloon-wrapper {
  top: -110%;
} */

.balloon-wrapper.is-mouseEnter,
.balloon-wrapper.is-mouseEneter {
  display: block;
  animation: fadeIn .2s;
}


#balloon {
  width: 100px;
  height: 30px;
  background-color: #efecec;
  border-radius: 10px;
  padding: 5px 20px;
  position: relative;
}

#balloon span {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

#balloon::before {
  content: '';
  position: absolute;
  top: 100%;
  left: calc(50% - 8px);
  border: 10px solid transparent;
  border-top: 15px solid #efecec;
}